html {
  scroll-behavior: smooth;
}

.banner-title._anim-item .banner-title__button {
  transition: transform 2s;
  transition-timing-function: cubic-bezier(0, 0, 0, 1);
  transform: translate(0, 50vh);
}

.banner-title._anim-item  .banner__title {
  transition: transform 2s;
  transition-timing-function: cubic-bezier(0, 0, 0, 1);
  transform: translate(-200%, 0);
}

.animated_article {
  animation: rightSlideAnimation 2s cubic-bezier(0, 0, 0, 1);
}

.animated_article {
  transform: translateX(100vw);
}
.animated_article:nth-child(2) {
  animation-delay: 0.2s;
}
.animated_article:nth-child(3) {
  animation-delay: 0.4s;
}
/*.banner-title._anim-item  .banner__description {
  transform: scale(0.01);
}*/

@keyframes rightSlideAnimation {
  100% {
    transform: translateX(0);
  }
}

@keyframes headerNavMenuAnimation {
  0% {
    transform: translateY(-300%);
  }

  100% {
    transform: translateY(0);
  }
}
