header {
  background-color: var(--color-grey);
  position: sticky;
  top: 0;
  z-index: 99;
  transition: none;
}

header .container * {
  display: inline-block;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 2rem 0;
}

.logo img {
  height: 6rem;
}

header nav > .nav-menu {
  width: 550px;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.nav-menu__item {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
}

.nav-menu__item > a {
  color: white;
  text-decoration: none;
}

.nav-menu__item > a:hover {
  color: var(--color-link-hover);
  position: relative;
}

.nav-menu__item {
  transform: translateY(-300%);
  animation: headerNavMenuAnimation 1s forwards;
}

.nav-menu__item:nth-child(1) {
  animation-delay: 0.1s;
}
.nav-menu__item:nth-child(2) {
  animation-delay: 0.2s;
}
.nav-menu__item:nth-child(3) {
  animation-delay: 0.3s;
}
.nav-menu__item:nth-child(4) {
  animation-delay: 0.4s;
}
.nav-menu__item:nth-child(5) {
  animation-delay: 0.5s;
}
.nav-menu__item:nth-child(6) {
  animation-delay: 0.6s;
}

.nav-menu__item > a:hover::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #aaa;
  display: block;
  position: absolute;
}

.search-form {
  position: relative;
}

.search-form[data-is-active="true"] .search-form__field {
  display: inline-block;
}
/*.search-form[data-is-active="true"] .search-form__button {*/
/*  display: none;*/
/*}*/

.search-form .search-form__field {
  display: none;
  padding: 8px 15px;
  border-radius: 30px;
  border: none;
  outline: none;
  color: #555555;
  font-size: 1.5rem;
  font-family: sans-serif;
  position: absolute;
  right: 4rem;
}

.search-form__button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.search-form__button img {
  height: 3rem;
}

.search-form__button:hover img {
  filter: brightness(0.68);
}

#header .burger-menu-button {
  position: relative;
  display: none;
}
.burger-menu-button > div {
  height: 4px;
  width: 30px;
  border: none;
  border-radius: 2px;
  background-color: white;
  margin: 7px;
  display: block;
  transition: all .3s;
}

.burger-menu-button[data-is-active="true"] > div:nth-child(1) {
  transform: rotate(45deg) translate(4px, 4px);
}
.burger-menu-button[data-is-active="true"] > div:nth-child(2) {
  transform: rotate(-45deg) translate(3px, -4px);
}

@media (max-width: 799px) {
  #header nav {
    display: none;
  }
  header .container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
  }
  header .logo {
    grid-area: 1 / 1 / 1 / 9;
  }
  #header .burger-menu-button {
    display: inline-block;
  }
  #header[data-is-active="true"] {
    position: absolute;
    width: 100%;
    top: 0;
  }
  #header[data-is-active="true"] .logo {
    grid-area: 1 / 1 / 1 / 6;
  }
  #header[data-is-active="true"]::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background-color: black;
    opacity: .6;
  }
  #header[data-is-active="true"] * {
    z-index: 2;
  }
  #header[data-is-active="true"] nav {
    grid-area: 2 / 1 / 8 / 11;
    display: block;
  }
  #header[data-is-active="true"] .search-form {
    display: block;
  }
  #header[data-is-active="true"] .search-form {
    display: block;
  }
  #header[data-is-active="true"] .nav-menu {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  #header[data-is-active="true"] .nav-menu__item {
    padding: 10px 0;
  }

  .search-form[data-is-active="true"] .search-form__field {
    position: static;
    font-size: 2rem;
    width: 40vw;
  }

  #header[data-is-active="true"] .burger-menu-button {
    grid-area: 1 / 10 / 1 / 10;
  }
}

@media (max-width: 524px) {
  header[data-is-active="true"] .container {
    display: flex;
    flex-direction: column;
  }

  #header[data-is-active="true"] nav {
    margin-block-start: 40px;
    margin-block-end: 40px;
  }

  #header[data-is-active="true"] .nav-menu__item {
    padding: 15px 0;
  }

  #header[data-is-active="true"] .search-form[data-is-active="true"] .search-form__field {
    width: 70vw;
    margin-block-end: 50px;
  }

  #header[data-is-active="true"] .burger-menu-button {
    position: absolute;
    top: 30px;
    right: 20px;
  }
}
