/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: var(--font-size-default);
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
::-webkit-scrollbar {
  width: 0px; /* Ширина scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Цвет фона track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Цвет ползунка scrollbar */
  border-radius: 5px;
}

/* Дополнительные стили для Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #ff6309;
  color: #fff;
  font-size: 2rem;
  font-family: NewsGothicBT, sans-serif;
}
.container {
  max-width: 1300px;
  width: 100%;
  margin: auto;
}
.button {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 2.5rem;
  border-radius: 5px;
  display: block;
  width: var(--width-button-default);
  height: var(--height-button-default);
  line-height: var(--height-button-default);
  text-align: center;
}
.title {
  text-transform: uppercase;
  color: white;
  font-size: 6rem;
  text-align: unset;
  font-weight: bolder;
  font-style: normal;
}
main {
  overflow: hidden;
}


/* Title banner */
.banner-title {
  background-image: url("../img/image-1__large.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: calc(100vh - 100px);
}
.banner-title .banner__title {
  font-size: 14rem;
  padding-top: 33vh;
  text-transform: none;
  font-family: AlternateGothic, sans-serif;
}
.banner__description {
  padding: 0 0 40px;
  max-width:580px;
  letter-spacing: 1px;
  font-size: 2.5rem;
}
.banner-title__button {
  background-color: var(--color-orange);
}

/* Dance Tour */
.banner {
  overflow: hidden;
  position: relative;
}
.tour-offers::before {
  content: url("../img/background-shape__black.png");
  position: absolute;
  left: -590px;
  top: -430px;
  z-index: -1;
}
.banner .container {
  text-align: center;
}
.banner .banner__title {
  font-size: 8rem;
  margin-top: 80px;
  font-family: 'Roboto Condensed', sans-serif;
}
.banner .banner__description {
  max-width: none;
  padding: 32px 0 80px;
}
.banner .banner__description > p {
  width: 830px;
  margin: auto;
}
.article-showcase {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.article-showcase__item {
  background-color: var(--color-grey);
  width: min-content;
}
.article-showcase__title {
  padding-top: 30px;
  font-family: AlternateGothic, sans-serif;
  font-size: 5rem;
}
.article-showcase__description {
  padding: 10px 20px 30px;
}

/* Pricing banner */
.banner-pricing {
  background-color: var(--color-grey);
}
.banner-pricing::before {
  content: url("../img/background-shape__white-1.png");
  position: absolute;
  left: -310px;
  top: -435px;
  opacity: 0.3;
}
.banner-pricing .article-showcase__item {
  flex: 0 0 372px;
  background-color: var(--color-orange);
  padding: 60px 30px 25px;
  box-sizing: border-box;
  z-index: 2;
}
.article-showcase__button {
  background-color: var(--color-grey);
}
.background-shape-white {
  position: relative;
}
.background-shape-white__content {
  position: absolute;
  opacity: 0.3;
  z-index: 1;
  top: 0;
  right: 0;
  transform: translate(270px, -640px);
}



/* Our Offers */
.our-staff__item:nth-child(2n) {
  flex-direction: row-reverse;
}
.our-staff__item {
  display: flex;
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.our-staff__item-image {
  height: inherit;
  width: 50vw;
  display: flex;
  z-index: 1;
}
.our-staff__item-image img {
  width: inherit;
  height: fit-content;
  align-self: center;
}
.our-staff__item .item-description {
  display: flex;
  align-items: center;
}
.our-staff__item .item-description__content {
  max-inline-size: 81.94444%;
  margin: auto;
  padding-inline-start: 20px;
}
.item-description__title {
  font-family: NewsGothicBT, sans-serif;
}
.item-description__text {
  font-size: 3.5rem;
  padding-block-start: 4rem;
  padding-block-end: 7rem;
}
.our-staff__item .item-description__button {
  background-color: var(--color-grey);
}
.our-staff__item::after {
  content: url("../img/background-shape__white-2.png");
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  transform: translate(220px, 550px) scale(0.8);
}
.our-staff__item:nth-child(2n)::after {
  right: auto;
  top: auto;
  left: 0;
  bottom: 0;
  transform: translate(-240px, 540px) scaleX(-0.8) scaleY(0.8);;
}

/* Statistics */
.banner.statistic {
  background-color: var(--color-grey);
  height: 100vh;
}
.statistic .banner__title {
  margin-block-start: 15vh;
}
.statistic .banner__description {
  padding-block-start: 7vh;
  padding-block-end: 7vh;
}
.statistic__content {
  display: flex;
  justify-content: space-between;
  height: 35vh;
  align-items: center;
}
.statistic__mark {
  font-family: "OpenSans", sans-serif;
}
.statistic__title {
  font-size: 3rem;
}


/* Quotation */
.quotation {
  background-image: url("../img/image-3__red-large.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quotation__content {
  width: 65vw;
  margin: auto;
  position: relative;
  z-index: 1;
  text-align: center;
}
.quote__text {
  font-size: 4.5rem;
  padding-bottom: 8.75vh;
}
.quote__author {
  font-size: 5rem;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
}



/* Subscribe */
.subscribe {
  height: 70vh;
}
.subscribe::before, .subscribe::after  {
  content: url("../img/background-shape__black.png");
  position: absolute;
  z-index: -1;
}
.subscribe::before {
  transform: translate(-530px, -260px) rotate(-45deg);
  left: 0;
}
.subscribe::after {
  transform: translate(520px, -790px) rotate(135deg);;
  right: 0;
}
.subscribe .banner__description {
  padding: 0;
  font-size: 3rem;
  padding-block-start: 7vh;
  padding-block-end: 10vh;
}
.subscribe-form {
  display: flex;
  justify-content: center;
}
.subscribe-form > * {
  outline: none;
  border: none;
}
.subscribe-form__field {
  height: var(--height-button-default);
  padding: 0 25px;
  font-size: 2.2rem;
  width: 500px;
  color: #808080;
}
.subscribe-form__send-button {
  background-color: var(--color-grey);
  width: 222px;
  border-start-start-radius: 0;
  border-end-start-radius: 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}
