:root {
  --color-grey: #2c2c2c;
  --color-orange: #ff6309;
  --color-link-hover: #aaaaaa;

  --font-size-default: 62.5%;

  --height-button-default: 65px;
  --width-button-default: 322px;
}

@media (max-width: 799px) {
  :root {
    --height-button-default: 45px;
    --width-button-default: 222px;
  }
}
